.AnswerBox {
    width: 85%;
}

.AnswerBox>div {
    font-size: 1rem;
    overflow: scroll;
    max-height: 40vh;
    font-family: var(--primary-font);
    background-color: var(--background-color);
}