.Microphone {
    position: absolute;
    bottom: 2rem;
}

.Microphone>button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 20px 0px #cacaca;
}

.Microphone>button>span {
    font-size: 2rem;
    color: var(--highlight-color);
}
